* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  outline: none;
  border: none;
  scroll-behavior: smooth;
  color: #eff0f3;
  font-family: var(--font-Anton);
}

:root {
  --color-main: #feec93;
  --color-white: #eff0f3;
  --black-blur: rgba(0, 0, 0, 0.3);
  --font-NiveauGrotesk: "Niveau Grotesk", sans-serif;
  --font-Anton: "Anton", sans-serif;
}

::-moz-selection {
  background-color: var(--color-main);
  color: #000;
}

::selection {
  background-color: var(--color-main);
  color: #000;
}

::-webkit-scrollbar {
  width: 0.4em;
}

::-webkit-scrollbar-track {
  color: #000;
}

::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 0.3em;
}

@media screen and (max-width: 768px) {
  body header {
    width: 100%;
    font-size: 0.9em;
    height: 4em;
  }

  body header ul {
    display: none;
  }

  body header #hamburger-label {
    display: block;
  }

  header .bars #header-menu a{
    font-size: 1em;
  }
  
  header .bars footer {
    position: absolute;
    bottom: 0;
  }

  header .bars footer p {
    line-height: 1.5em;
  }

  body figure {
    margin: 0;
    padding: 0;
    width: 100%;
    display: grid;
    place-items: center;
  }

  body figure video {
    margin: 0;
    padding: 0;
    width: 150%;
    height: 60vh;
  }

  body figcaption {
    top: 6em;
    font-size: 1.6em;
  }

  body figcaption h6 {
    font-size: 1.1em;
  }

  body figcaption button {
    font-size: 0.4em;
    font-weight: 100;
    margin-top: 2.3em;
  }

  body article {
    width: 100%;
    margin: 0 0 -3em 0;
    font-size: 0.8em;
  }
  
  main .title-large {
    font-size: 2em;
    margin-top: 3em;
    letter-spacing: 0em;
    opacity: 1;
  }

  main .play-list {
    margin-top: 0em;
    opacity: 1;
    margin-bottom: 0;
  }

  main .play-list .collection {
    margin: 0 0 3em 0;
  }

  main .play-list .collection h3 {
    font-size: 1.3em;
  }

  body .reference {
    gap: 5em;
    opacity: 1;
    margin-left: 0em;
  }

  body .reference .title :is(h1, h5) {
    font-size: 2em;
    text-align: center;
  }

  body .reference .img img {
    width: 20em;
    height: 20em;
    z-index: 2;
  }
  
  html main .reference #rorate {
    display: none;
  }

  .videos :is(.song1, .song2) {
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
  }

  .videos :is(.song1, .song2) div.title {
    width: 100%;
    padding: 0 0 0 0;
    margin: 0 0 1em 0;
    text-align: center;
    font-size: 0.8em;
  }

  .videos div.title :is(h1, p) {
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
  }

  body .videos .title h1 {
    margin-bottom: 0.6em;
  }

  .videos iframe {
    width: 18em;
    height: 13em;
    padding: 0.1em;
  }

  body form {
    width: auto;
  }

  html {
    overflow-x: hidden;
  }
}
body {
  background-color: #000;
  overflow-x: hidden;
}

main {
  padding: 0 10%;
}

header {
  width: 100%;
  height: 4.3em;
  position: fixed;
  inset: 0;
  color: var(--color-white);
  background-color: rgba(0, 0, 0, 0);
  border-bottom: 0.01px solid rgba(0, 0, 0, 0);
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
  padding: 0em 1.8em;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 56;
}

.logo {
  display: flex;
  align-items: center;
  z-index: -1;
}

.logo img {
  width: auto;
  height: 3em;
}

ul {
  display: flex;
  color: var(--color-white);
  gap: 1.3em;
  z-index: 55;
}

ul li {
  cursor: pointer;
}

ul li a {
  position: relative;
  font-size: 1.1em;
  font-family: var(--font-NiveauGrotesk);
  color: var(--color-white);
  z-index: 55;
}

ul label i {
  font-size: 1.3em;
}

#header-menu a{
  border: .1em solid #0000;
  padding: .1em .3em;
}

#header-menu a::before {
  position: absolute;
  content: "";
  width: 0;
  height: 0.1em;
  right: 0;
  bottom: -0.11em;
  background: var(--color-main);
  transition: 350ms ease;
  z-index: 2;
}

#header-menu a:hover::before {
  width: 100%;
  height: 0.1em;
  left: 0;
}

/* //TODO: BARS         */
#hamburger,
#hamburger-label {
  display: none;
}

body header .fa-bars-staggered {
  font-size: 1.6em;
  z-index: 52;
  display: block;
  transition: 300ms ease;
}

.bars {
  display: block;
  position: absolute;
  top: 0;
  right: -15em;
  background-color: #000;
  width: 20em;
  height: 100vh;
  font-size: 1.3em;
  z-index: -1;
  transition: 450ms ease;
  opacity: 0;
}

.bars #head-bars {
  gap: 0.6em;
  display: flex;
  font-size: .8em;
  margin: 5em 0;
  justify-content: center;
}

.bars #foot-bars {
  flex-wrap: wrap;
  margin-top: 1em;
}

/* // TODO : SEARCH  && SIGN IN-UP   */
input[type=search] {
  width: 0em;
  color: #000;
  font-size: 1em;
  font-family: var(--font-NiveauGrotesk);
  border-radius: 0.6em;
}

input[type=checkbox] {
  display: none;
}

#logIn,
#signUp {
  border: 0.1em solid var(--color-white);
  padding: 0.3em 0.6em;
  line-height: 1em;
  border-radius: 1em;
}

#logIn {
  background: var(--color-white);
}

#logIn a {
  color: #000;
  font-size: 1.35em;
}

/* // FIX  Suggest  */
#search-suggest {
  position: absolute;
  width: 20em;
  height: 24em;
  top: 4.5em;
  right: 10em;
  flex-direction: column;
  overflow-y: auto;
}

.suggestion-item {
  display: flex;
  padding: 10px;
  font-family: var(--font-NiveauGrotesk);
  border-bottom: 1px solid var(--color-white);
  background: #000;
  cursor: pointer;
}

.suggestion-item:hover {
  background-color: var(--color-main);
}

.suggestion-item:hover p,
.suggestion-item:hover p.views {
  color: #000;
}

.suggestion-item img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}
.suggestion-item div {
  display: flex;
  flex-direction: column;
  height: -moz-fit-content;
  height: fit-content;
}
.suggestion-item p {
  font-family: var(--font-NiveauGrotesk);
  margin: 0;
  font-size: 1em;
}
.suggestion-item p.title {
  font-family: var(--font-Anton);
}
.suggestion-item p.artist {
  font-size: 0.87em;
}
.suggestion-item p.views {
  font-family: var(--font-NiveauGrotesk);
  color: #ccc;
  font-size: 0.8em;
}

/* // TODO: NAV    */
figure video {
  width: 100%;
  margin-top: -3.3em;
  margin-bottom: 5em;
  z-index: -3;
}

figcaption {
  text-align: left;
  font-size: 4em;
  position: absolute;
  top: 26%;
  left: 10%;
  z-index: 1;
}

figcaption :is(h1, h6) {
  margin-bottom: -0.33em;
  color: #fff;
}

figcaption h1 {
  font-family: "TANAMERA", sans-serif;
  font-size: 2.2em;
}

figcaption h6 {
  font-weight: 100;
}

button {
  --black-blur: rgba(0, 0, 0, 0.6);
  position: relative;
  color: #000;
  padding: 0.6em;
  border: 2px solid var(--color-main);
  font-size: 0.23em;
  background-color: var(--black-blur);
  transition: 250ms ease;
  cursor: pointer;
}

button a {
  color: #fff;
  z-index: 3;
}

button:hover {
  box-shadow: 0px 0px 10px rgba(254, 236, 147, 0.8), 0px 0px 25px rgba(254, 236, 147, 0.8);
  background-color: transparent;
}
button:hover a {
  color: #000;
}

figcaption button::before {
  content: "";
  width: 0em;
  height: 100%;
  background-color: var(--black-blur);
  position: absolute;
  right: 0;
  margin-top: -0.6em;
  transition: 300ms ease;
  z-index: -1;
}

figcaption button:hover::before {
  width: 100%;
  background-color: var(--color-main);
  left: 0;
}

article {
  position: fixed;
  width: 100%;
  height: 5em;
  background: linear-gradient(to top, black, rgba(0, 0, 0, 0.3));
  box-shadow: -5px -5px 5px rgba(0, 0, 0, 0.3);
  text-align: center;
  font-size: 1.3em;
  position: absolute;
  margin-top: -10em;
}
article p {
  font-family: var(--font-NiveauGrotesk);
}

.title-large {
  color: var(--color-white);
  font-size: 3.6em;
  font-weight: 300;
  text-align: center;
  margin: 1.1em 0;
    letter-spacing: 0.5em;
    margin-top: 3em;
    opacity: 0;
}

.play-list {
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-around;
    margin-top: 6em;
    opacity: 0;
}

.play-list .collection {
  border: 1px solid rgba(0, 0, 0, 0);
  cursor: pointer;
  transition: 150ms;
  z-index: 10;
}
.play-list .collection img {
  width: 20em;
  height: 20em;
  -o-object-fit: cover;
  object-fit: cover;
}

.play-list .collection:hover {
  border: 1px solid var(--color-main);
}

.collection h3 {
  text-align: center;
  font-size: 1.5em;
  font-weight: 300;
}

.collection:nth-child(even) {
  margin-top: 4em;
}

.reference {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8em;
  padding: 5em 0;
    opacity: 0;
    margin-left: -10em;
}

.reference :is(.title, .img) {
  width: 30.4em;
  display: grid;
  place-content: center;
}

.reference .img {
  border: 0.12em solid var(--color-main);
}

.reference .img img {
  width: 30em;
  height: 40em;
  -o-object-fit: cover;
  object-fit: cover;
  position: relative;
}

@keyframes rotateBorder {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

.anirorate {
  position: absolute;
  margin-top: -7em;
  margin-left: -15em;
  width: 50%;
  height: 55%;
  border: 27.3em solid transparent;
  border-top-color: #000;
  border-radius: 50%;
  animation: rotateBorder 5s linear infinite;
}

.reference .title {
  z-index: 5;
}

.reference .title :is(h1, h5) {
  font-size: 3.6em;
  font-weight: 300;
}

.reference .title button {
  position: relative;
  width: 30em;
  padding: 0.8em;
  margin-top: 6em;
  border: 2px solid var(--color-main);
  outline: none;
  transition: 250ms ease;
  cursor: pointer;
}

.reference button a {
  color: var(--color-white);
  font-size: 4em;
  z-index: 3;
}

.reference button:hover a {
  color: #000;
}

.reference button::before {
  content: "";
  width: 0em;
  height: 100%;
  background-color: var(--color-main);
  position: absolute;
  right: 0;
  margin-top: -0.8em;
  z-index: -1;
  transition: 300ms ease;
}

.reference button:hover::before {
  width: 100%;
  left: 0;
}

/* // TODO  Video / Songs  */
.videos {
  opacity: 0;
  margin-bottom: 10em;
}

.videos :is(.song1, .song2) {
  font-size: 1.2em;
  display: flex;
  padding-bottom: 0.6em;
}

.videos :is(.song1, .song2) .title {
  text-align: left;
  display: grid;
  place-content: center;
  flex-wrap: wrap;
}

.videos :is(.song1, .song2) .title h1 {
  font-size: 2em;
  font-weight: 300;
}

.videos .song1 .title {
  padding: 0 4em 0 0;
}

.videos .song2 .title {
  padding: 0 0 0 3.5em;
}

.videos :is(.song1, .song2) p {
  font-family: var(--font-NiveauGrotesk);
}

.videos .title h1 {
  text-decoration: underline;
  text-decoration-color: var(--color-main);
  margin-bottom: 0.3em;
}

.videos iframe {
  border: 0.01em solid var(--color-main);
  padding-bottom: 0.01em;
}

.contact {
  width: 100%;
  padding: 8em 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(Image-source/contact.png) no-repeat;
  background-size: cover;
}

form {
  width: 50%;
}

form input,
textarea {
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  width: 100%;
  height: 4em;
  font-size: 1em;
  border-radius: 0.1em;
  padding: 0.8em;
  margin: 0 0 1em 0;
  font-family: var(--font-NiveauGrotesk);
  border: 0.1em solid transparent;
  transition: 300ms ease;
}

form textarea:hover,
form input:hover {
  border: 0.1em solid var(--color-main);
  box-shadow: 1px 1px 5px var(--color-main);
}

form textarea:active,
form input:active {
  transition: 10ms ease;
  box-shadow: 0px 0px 0px 3px var(--color-main);
  padding-left: 1em;
}

form div {
  display: flex;
  gap: 1em;
}

form button {
  color: var(--color-white);
  position: relative;
  font-size: 1em;
  z-index: 1;
}

form button:hover {
  color: #000;
}

form button::before {
  content: "";
  width: 0;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  background-color: var(--color-main);
  transition: 250ms ease;
  z-index: -1;
}

form button:hover::before {
  width: 100%;
  left: 0;
}

#alertMessage {
  display: none;
  position: absolute;
  font-size: initial;
  background-color: var(--color-main);
  color: initial;
  padding: 0.8em;
  border: initial;
  border-radius: inherit;
  margin-top: 10px;
}

.more {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.bookmark {
  width: 30%;
  margin-bottom: 1em;
  text-align: left;
}

.bookmark p a,
.bookmark h3 {
  font-family: var(--font-NiveauGrotesk);
  padding-left: 0.3em;
  margin-bottom: 0.3em;
}

.bookmark h3 {
  border-left: 0.1em solid var(--color-main);
}

.bookmark p a:hover {
  text-decoration: underline;
}

summary {
  font-size: 1.3em;
  margin-bottom: 1em;
  margin-top: 1em;
  cursor: pointer;
  text-align: center;
  text-decoration: underline;
  transition: 300ms ease;
}

summary:hover {
  transform: translateY(0.2em);
  color: var(--color-main);
  filter: drop-shadow(1px 1px 5px rgba(254, 236, 147, 0.8));
}

footer {
  flex-wrap: wrap;
  font-size: 0.8em;
  margin: 0 3.3em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.6em 0;
  color: var(--color-white);
  border-top: 0.1em solid var(--color-main);
}

footer p {
  font-weight: normal;
  font-family: var(--font-NiveauGrotesk);
}

footer ul {
  display: flex;
  gap: 0.6em;
  font-size: 1.3em;
}

footer #text-underline {
  text-decoration: underline;
}

footer img {
  width: auto;
  height: 3em;
}

footer .logo {
  width: 100%;
}

/* // fix HEADER EFFECT   */
.effHeader {
  border-bottom: 0.01px solid var(--color-main);
  background-color: #000;
  transition: 250ms ease;
}

.toPos {
  opacity: 1;
  margin-top: 1em;
  letter-spacing: 0;
  transition: 1s ease;
}

.leftPos {
  opacity: 1;
  margin-left: 0;
  transition: 1s ease;
}

.reveal {
  opacity: 1;
  letter-spacing: 0;
  margin-top: 0;
  transition: 1s ease;
}

.border{
  border: .1em solid var(--color-main);
}