/* MOBILE */
@media screen and (max-width: 768px) {

  body header {
    width: 100%;
    font-size: 0.9em;
    height: 4em;
  }

  body footer {
    margin: 0;
    padding: 2em 1em 6em 1em;
    position: relative;
    z-index: 1;
  }

  body footer ul {
    display: flex;
    font-size: 1em;
  }

  body footer ul li {
    margin-right: .6em;
  }

  body header  :is(#header-menu, #signUp, #logIn) {
    display: none;
  }

  body header .fa-magnifying-glass{
    position: absolute;
    right: 4em;
    top: 1.1em;
    z-index: -100;
  }

  body header #search-box {
    position: relative;
    z-index: -100;
    width: 0;
    height: 2em;
  }

  body header #search-suggest {
    width: 100%;
    top: 4em;
    left: 0;
    display: none;
  }

  /* Bars */

  body header #hamburger-label #bars-icon {
    position: relative;
    z-index: 100;
  }

  body header #head-bars #header-menu {
    display: flex;
  }

  body header #head-bars li {
    margin-bottom: 1em;
    padding: .5em;
  }

  body header #hamburger-label {
    display: block;
  }

  header .bars #head-bars a{
    font-size: 1em;
  }

  header .bars footer {
    position: absolute;
    bottom: 0;
  }

  header .bars footer p {
    line-height: 1.5em;
  }

  body header .bars .search-box {
    position: absolute;
    opacity: 1;
    right: 0;
    z-index: -1;
  }

  /* Nav */
  body nav {
    margin: 0;
    padding: 0 5%;
    width: 100%;
    height: 55vh;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  body nav .album-img {
    width: 100%; height: 0;
    margin: 0;
  }

  body nav #imgCollections {
    position: relative; z-index: 2;
    width: 10em; height: 10em;
    margin: 3.3em 0 0 0;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .8);
    /* image-rendering: pixelated; */
  }

  body nav .album-img #vinylRecordAlbum {
    position: relative; z-index: 1;
    top: -2.9em;
    right: -9.6em;
    width: 11em; height: 11em;
    box-shadow: none;
    filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, .4));
    animation: spin 2s infinite linear ;
          display: none; /* -----show disk-------*/
  }
  
  body nav .song-info {
    width: 100%;
    margin: 0;
      flex: none;
  }

  body nav .song-info .pre {
    font-size: .8em;
    margin: 0;
      position: relative;
      top: 0;
  }
  
  body nav  .song-info .pre h1 {
    margin: 0;
  }

  body nav  .song-info .pre h2 {
    font-size: 1em;
    margin: 1.5em 0 .3em 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 65%; 
  }

  body nav .song-info .pre p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 65%;
  }
  
  body nav .song-info .pre div {display: none;}

  body nav .song-info .meta {
      display: block;
    position: absolute;
    bottom: .6em; right: 5%;
    padding: 0;
    gap: .6em;
    font-size: .7em;
  }

  /* lyric song */
  body .Lyric-song {
    display: flex;
    flex-wrap: wrap;
    padding: 5% 5%;
  }
  
  body .lyric {
    width: 100%;
    font-size: 1.1em;
    padding: 0;
  }

  /* aside */
  body main aside {
    width: 100%;
  }
  
  /* abtm q&a, cmt */
  body main :is(.about, .QapsA, .comments) {
    width: 100%;
    padding: 0 5%;
    margin: 0;
  }

  body main :is(.about, .QapsA, .comments) .summary-content p {
    padding: 0;
    margin: 0;
    width: 100%;
    font-size: 1em;
  }

  body main :is(.about, .QapsA, .comments) h1 {
    text-align: center;
    font-size: 3em;
    color: #000;
  }

  body main :is(.about, .QapsA, .comments) .summary-title {
    font-size: 1.1em;
  }

  /* body main .summary-title:focus {
    background: var(--color-main);
  } */

  body main .QapsA iframe {
    width: 100%;
    height: auto;
  }

  /* play song */
  html body article .audio-play {
    display: flex;
      /* width: calc(95% - 5%); height: 3.5em; */
      width: 99.5%; height: 3.5em;
      bottom: 0; left: .2%;
      backdrop-filter: blur(50px);
      background: #ffffffce;
      box-shadow: -.1em -.2em .8em rgba(0, 0, 0, .25);
    column-gap: .2em;
    padding: 0 .3em;
    z-index: 10;
  }
  
  body article .img-control {
    width: 4em;
    column-gap: .3em;
    cursor: grab;
      pointer-events: none; /*//todo sự kiện con trỏ/ nhấp chuột */
      touch-action: none; /*// todo hành động chạm/ cảm ứng */
  }

  body article .img-control img {
    margin-left: -.1em;
    width:  3em; height: 3em;
    border-radius: .1em;
    image-rendering: pixelated;
      pointer-events: none;
      touch-action: none;
  }

  body article .img-control .content-control p{
    display: none;
  }

  body article .audio-play .time {
    display: flex;
    width: 100%;
    margin: 0 0 0 .8em;
    column-gap: .8em;
  }

  body article input[type="range"]::-webkit-slider-runnable-track {
    height: .2em;
  }

  body article input[type="range"]::-webkit-slider-thumb {
    font-size: .8em;
    margin-top: -.4em;
  }

  body article .fa-play {
    font-size: .3em;
  }

  body article .time span{
    font-size: .8em;
  }

  body article .logo {
    display: none;
  }

  /* Advertisement */
  body .ads{
    bottom: 3.5em; right: 0;
    width: 4em; height: 4em;
    margin: 0 .5em .5em 0;
  }

  body .ads #spotifyIcon{ /* icon */
    font-size: 2.5em;
  }

  body .ads #closeSpotifyIcon { /* x */
    font-size: 1em;
  }

  html {
    overflow-x: hidden;
  }
}

/* DESK, LAP */
@media screen and (min-width: 1000px) and (max-width: 1280px) {
  
  body :is(header, nav) {
    font-size: .9em;
  }

  header ul label li i {
    margin-top: .2em;
  }

  main aside {
    font-size: .9em;
  }

  body article .audio-play {
    font-size: .9em;
      width: calc(90% - 10%); height: 4em;
    padding: .3em;
    position: fixed;
      bottom: 3em; left: 10%;
  }

  main .lyric {
    font-size: 1.2em;
  }

  :is(.about, .QapsA, .comments) {
    font-size: .9em;
  }

}


/*  NAV */
nav {
  color: #f5f5fc;
  position: relative;
  display: flex;
  align-items: center;
  height: 25em;
  background-image: linear-gradient(to top, #a00000 60%, #be0000);
  padding: 2em 8em;
}

nav img {
  width: 22em; height: 22em;
  object-fit: contain;
  border-radius: 0.1em;
  margin: 6em 0 0 0;
  position: absolute;
  /* image-rendering: pixelated; */
}

nav #vinylRecordAlbum {
  display: none;
}

.album-img {
  width: 22em; height: 22em;
  object-fit: contain;
  border-radius: 0.1em;
  margin: 0 1.3em 0 0;
  /* visibility: hidden; */
}

.song-info {
  flex: 1;
}

.song-info .pre {
  position: absolute;
  top: 4.5em;
}

.song-info .pre h1 {
  color: var(--color-white);
  margin: 0;
  font-size: 2.2em;
  font-weight: 500;
  font-family: var(--font-Anton);
}

.song-info .pre h2 {
  margin: 0.6em 0;
  font-size: 1.2em;
}

.song-info .pre h2 a {
  color: var(--color-white);
  text-decoration: none;
}

.song-info .pre h2 a:hover {
  text-decoration: underline;
}

.song-info .pre p a{
  color: var(--color-white);
  margin: 0.6em 0;
  font-size: 1em;
}

.song-info .pre .tiny-abt {
  width: 50%; max-height: 4.6em;
  margin-top: .6em;
  overflow: hidden;
  text-overflow: ellipsis;
  line-clamp: 4;
  -moz-box-orient: vertical;
  position: relative;
}

.tiny-abt::after {
  content: "...";
  position: absolute;
  bottom: 0;
  right: 0;
  padding-left: .2em;
}

.expand a{
  color: var(--color-white);
  border: 1px solid #fff;
  border-radius: .3em;
  padding: .1em;
  font-size: .8em;
}

.expand a:hover {
  color: var(--color-blue);
  border: 1px solid var(--color-blue);
}

.song-info .meta {
  display: flex;
  position: absolute;
  bottom: 0;
  padding: 1.3em 0;
  gap: 1em;
  font-size: 0.9em;
  color: #ddd;
}

/*  LYRICS  */
main {background: #fff;}
section {color: #000;}

.Lyric-song {
  display: flex;
  padding: 5% 10%;
  justify-content: space-between;
  background: #fff;
}

.lyric {
  width: calc(90% - 40%);
  font-size: 1.3em;
}

.lyric span, .lyric i {
  color: #000;
  font-size: 0.8em;
  margin-bottom: 3em;
}

.lyric p {
  color: #000;
  line-height: 1.6em;
}

/* change color theme */
.lyric b {
  /* color: #0d3552; */
  text-decoration: underline;
  text-decoration-thickness: .1em;
  text-underline-offset: .15em;
}
  
.lyric q {
  /* color: #0d3552; */
  quotes: '[' ']';
}

aside {
  position: sticky;
  top: 0;
  width: 20em;
  height: 100%;
}

aside .head-aside {
  height: 2em;
  margin-top: 5em;
  font-size: 1.2em;
  text-align: center;
  align-content: center;
  border-radius: 0.1em;
  background: #000;
  color: #f5f5fc;
}

aside .recommend-song {
  cursor: pointer;
  display: flex;
  padding: 1em;
  column-gap: 1em;
  border-left: 0.1em dashed #000;
  border-right: 0.1em dashed #000;
  border-bottom: 0.1em dashed #000;
}

aside .recommend-song:hover {
  background: var(--color-main);
}

aside .recommend-song img {
  width: 4em; height: 4em;
  object-fit: contain;
  image-rendering: pixelated;
}

aside .recommend-song .rcm-song-content h3 {
  color: #000;
  margin-bottom: 0.3em;
  font-size: 1.2em;
}

aside .recommend-song .rcm-song-content p {
  color: #7b7b7b;
  font-size: 1em;
  bottom: 0;
}

/* ABOUT */

section h1 {
  margin-bottom: .6em;
}

details {
  border: var(--border-black);
}

summary::-webkit-details-marker {
  display: none;
}

:is(.about, .QapsA, .comments) {
  width: calc(90% - 30%);
  margin-left: 10%;
  margin-bottom: 3em;
  border-bottom: .3em solid #a00000;
}

:where(.about, .QapsA, .comments) h1 {
  text-align: center;
  font-size: 5em;
  color: #000;
}

.summary-content p {
  padding: 1em;
  font-size: 1.2em;
  color: #000;
  overflow-wrap: break-word;
  text-indent: 1em;
}

.summary-title {
  display: flex;
  width: 100%;
  padding: .8em;
  font-size: 1.25em;
  align-items: center;
  justify-content: space-between;
  border-bottom: var(--border-black);
  background: #fff;
  cursor: pointer;
}

.summary-title i {
  transition: 350ms ease;
  transform: rotate(0deg);
}

.summary-content {
  display: grid;
  place-items: center;
  padding: 1em;
}

/* PLAY SONG */

article .audio-play {
  display: flex;
    width: calc(90% - 10%); height: 4em;
  padding: .3em;
  position: fixed;
    bottom: 6%; left: 10%;
  column-gap: 1.3em;
  align-items: center;
  border: var(--border-black);
  background: var(--opac-white);
  border-radius: .1em;
  backdrop-filter: blur(10px);
  box-shadow: .1em .2em .8em rgba(0, 0, 0, .25);
  z-index: 10;
}

article .img-control {
  display: flex;
  width: 23em;
  align-items: center;
  column-gap: .6em;
  cursor: grab;
}

article .img-control:hover {
  background: var(--color-main);
}

article .img-control img {
  width:  3.125em; height:  3.125em;
  border-radius: .1em;
  image-rendering: pixelated;
}

article .control i {
  cursor: pointer;
  font-size: 1.6em;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none; 
  /* overflow: hidden; */
  width: 100%; 
  height: fit-content;
  /* height: .3em; */
  margin-top: .5em;
  border-radius: 1em;
  /* background: #7b7b7b; */
  cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: .8em; height: .8em;
  margin-top: -.25em;
  background-color: #000;
    border-radius: 50%;
  /* box-shadow: -50em 0em 0 50em #000; */
  transition: 50ms ease-in-out;
}


input[type="range"]::-webkit-slider-thumb:hover {
  background: #feec93;
  border: .1em solid #000;
  width: 1em; height: 1em;
  margin-top: -.4em;
}

input[type="range"]::-webkit-slider-runnable-track {
  appearance: none;
  background: #000;
  border-radius: 1em;
  height: .3em;
}

input[type="range"]::-webkit-slider-runnable-track:hover {
  background: var(--color-main);
  border: var(--border-black);
}

article .time {
  display: flex;
  width: 100%;
  margin-right: 3.5em;
  column-gap: 1.3em;
}

article .content-control {
  flex-direction: column;
}

#singer {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 190px; 
}

article .logo {
  position: absolute;
  right: .3em;
  background: rgba(0, 0, 0, .8);
}

.rotateAudio {
  animation: spin 2s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* DISK */
.disk {
  width: auto;
  height: auto;
  position: fixed;
  left: 0; bottom: 0;
}

.disk #vinylMusicDisk {
  width: 16em; height: 16em;
  margin-left: -2.7em;
  margin-bottom: -3em;
  object-fit: contain;
  transition: 550ms;
  transition-delay: 200ms;
  opacity: 0;
  z-index: 5;
}

.disk #pioneer {
  width: 9em; height: 9em;
  margin-left: -8.5em;
  margin-bottom: 2em;
  object-fit: contain;
  transform: rotate(-45deg);
  /* transition: 550ms;
  transition-delay: 350ms; */
  opacity: 0;
  z-index: 5;
}

 /* COMMENT */
.cmt-container {
  width: 100%;
  font-size: 1.2em;
  margin-bottom: 1.3em;
}

.cmt-form {
  position: relative;
  display: flex;
  width: 100%;
}

.cmt-form textarea {
  width: 100%; height: 3em;
    padding: 1em;
  margin-bottom: 1.3em;
  font-size: 1.2em;
  border-radius: .2em;
  border: var(--border-black);
  /* opacity: 0.5; */
}

.cmt-form button {
  position: absolute;
    right: 1em; top: 1em;
  width: fit-content;
  padding: .3em 2em;
  background: transparent;
  border-radius: .5em;
  border: var(--border-black);
  cursor: pointer;
  /* opacity: 0.5; */
}

.cmt-form button i {
  font-size: 1.6em;
}

.comment {
  padding: 1.3em;
  border-bottom: var(--border-black);
}

/* Advertisement */
.ads{
  position: fixed; z-index: 20;
  bottom: 20%; right: 1%;
  width: 5em; height: 5em;
  margin: 0 .5em .5em 0;
  border-radius: 50%;
  display: grid;
  place-content: center;
}

.ads #spotifyIcon{ /* icon */
  font-size: 3.5em;
  color: #1ed760;
}

.ads #closeSpotifyIcon { /* x */
  position: absolute;
  right: 0;
  background: #fff;
  border-radius: 50%;
  font-size: 1.3em;
  cursor: pointer;
}

.ads #closeSpotifyIcon:hover {
  color: #be0000;
}



